.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex-basis: 100%;
    background-color: #ccc;
    margin: 10px;
    gap: 10px;
  }
  
  @media (min-width: 768px) {
    .item {
      flex: 1 1 auto;
    }
  }